* {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
}

body {
    width: 100%;
    font-family: "Exo 2",sans-serif;;
    -webkit-font-smoothing: antialiased;
}

header {
    width: 100%;
}

body, html{
    --light-grey-text: #878785;
    --dark-grey-text: #242525;
    --orange: #f57a1f;
    --light-orange: #F39B5A;
    --dark-orange: #F36B06;
    --default: #bca854;
    --light-default: #F3E08E;
    --white: #FFFFFF;
    --black: #000000;
    --grey: #C3C3C3;
    --grey-background: #F7F7F7;
    --dark-grey: #333;
}

.no-select{
    user-select: none;
}

a{
    text-decoration: none;
}

@keyframes changecolor{
    0%{
        fill: var(--green);
    }
    60%{
        fill: #f6f6f6;
    }
    100%{
        fill: var(--green);
    }
}

