{%extends "structure.html"%}
{%load static%}

{%block title%}{%block titleHome%}Admin Panel{%endblock%}{%endblock%}

{%block static%}
    <link rel='stylesheet' href='{%static "css/indexAdmin/home.css"%}'>
    {%block staticHome%}{%endblock%}
{%endblock%} 

{%block fonts%}{%endblock%}
{%block content%}
    <section>
        <div class="container-section">
            {%block contentHome%}{%endblock%}
        </div>
    </section>
{%endblock%}

{%block scripts%}
    {%block scriptsHome%}{%endblock%}
{%endblock%}