<div class="entry-container">
    <div class="'entry-info-container">
        <div class="entry-info">
            <div class="entry-title">
                <div class="circle-green"></div>
                <h3>Entrada Confirmada</h3>
                <div class="circle-green"></div>
            </div>
            <div class="entry-more-info">
                <span>Entrada no:</span>
                <div class="entry-value">
                    <div class="entry-circly-value {{entry.color}}-bg" data-id="{{entry.color}}"></div>
                    <span id="entry-value-color-confirmed" class="{{entry.color}}" data-id="{{entry.percent}}">{{entry.color_pt}}</span>
                </div>
            </div>
            <div class="entry-safe">
                <span>Com proteção no:</span>
                <h3>Branco</h3>
            </div>
        </div>
    </div>
    <div class="entry-blaze">
        <div class="entry-container-blaze">
            <a href="https://blaze.com/pt/games/double" target="_blank">
                <span>Double</span>
            </a>
        </div>
    </div>
</div>